#banner {
  background-color: #f6f6f6;
  text-align: center;
  height: 300px;
  /* desktop >> if screen is equal or more then*/
  @media screen and (min-width: 426px) {
    height: 230px;
  }
  h1 {
    font-family: "shrikland", sans-serif;
    padding: 30px 75px 20px 75px;
  }
  p {
    font-size: 18px;
    padding: 0 35px;
    margin-bottom: 50px;
  }
  a {
    border-radius: 50px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    background-image: linear-gradient(to right bottom, #ea72da, #da6bdb, #c965db, #b760dc, #a35bdc);
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 44%);
  }
}