#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $fourth;
  h1 {
    font-size: 35px;
    font-weight: bolder;
    padding: 50px 75px 20px 75px;
  }
  p {
    font-size: 25px;
    color: $eighth;
    padding: 0 35px 50px;
  }
}

.banner-restaurant {
  position: relative;
  img {
    position: relative;
    z-index: 1;
    // desktop >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      height: 550px;
      width: -webkit-fill-available;
      object-fit: cover;
    }
  }
  div {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    background-color: $fourth;
    padding: 30px;
    // desktop >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      justify-content: start;
    }
    h1 {
      font-size: 40px;
      font-family: $shrikhand;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        margin-right: 30px;
      }
    }
    i {
      position: absolute;
      right: 40px;
      top: 45px;
      font-size: 30px;
      width: 50px;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        left: 345px;
      }
    }
    .heart {
      position: absolute;
      right: 40px;
      top: 43px;
      height: 34px;
      width: 34px;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        left: 343px;
      }
    }
  }
}

//out of the implementation, specificity conflict
#full-heart {
  opacity: 0;
  transition: opacity 2s ease 0s;
  &:hover {
    opacity: 1;
  }
} 
