form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: $fifth;
  column-gap: 10px;
  box-shadow: inset 0 2px 4px $sixth;
  padding: 20px;

  i {
    font-size: 22px;
    color: $seventh;
    padding-right: 10px;
  }

  input {
    width: 140px;
    font-family: $roboto;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: $fifth;
  }
  ::placeholder {
    color: $seventh;
  }
}
