// LOADING BACKGROUND
@keyframes loading {
  0% {
    z-index: 9999;
  }
  100% {
    z-index: -1;
  }
}

// LOADING SPINNER
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}

// ENTRANCE FADE IN ANIMATION
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.first-load {
  animation: fadeInUp 1s ease-in-out 0.8s backwards;
}

.second-load {
  animation: fadeInUp 1s ease-in-out 1s backwards;
}

.third-load {
  animation: fadeInUp 1s ease-in-out 1.2s backwards;
}

// ENTRANCE FADE IN ROLL IN
@keyframes rollInCheck {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(-200deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
