// HOME PAGE ARTICLE RESTAURANT

article {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
    .article-img {
    position: relative;
    border-radius: 15px 15px 0 0;
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      p {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $tenth;
        background-color: $tertiary;
        border-radius: 3px;
        padding: 10px 15px;
      }
    }
    .article-text {
      position: relative;
      height: 90px;
      padding: 15px 20px;
      i {
        position: absolute;
        top: 25px;
        right: 35px;
        font-size: 30px;
        color: $seventh;
      }
      #article-text-left {
        position: absolute;
        left: 20px;
        // tablet >> if screen is equal or more then
        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: column;
          row-gap: 0;
        }
        h3 {
          color: black;
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 5px;
        }
      }
    }
}

// RESTAURANT PAGE ARTICLE MENU

.menu-card {
  display: flex;
  background-color: white;
  margin: 20px;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  &:hover {
    .menu-text {
      flex-basis: 75%;
    }
    .menu-check {
      display: block;
      flex-basis: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        animation: rollInCheck 0.9s ease-out;
      }
    }
  }
  // tablet >> if screen is equal or more then
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    width: auto;
  }
  .menu-text {
    padding: 15px;
    flex-basis: 100%;
    overflow: hidden;
    transition: flex-basis 1s;
    h3 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis; 
      white-space: nowrap;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 992px) {
        font-size: 22px;
        text-align: left;
      }
    }
    .menu-text-detail {
      display: flex;
      justify-content: space-between;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 992px) {
        font-size: 18px;
      }
      #content {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
      }
      #price {
        font-weight: bold;
      }
    }
  }        
  .menu-check {
    display: none;
    background-color: $tertiary;
    transition: flex-basis 1s;
    i {
      color: white;
      font-size: 36px;
    }
  }
}

#menu-card-first-load {
  animation: fadeInUp 1s ease-in-out 0.8s backwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 1s ease-in-out 0.8s backwards;
  }
}

#menu-card-second-load {
  animation: fadeInUp 1s ease-in-out 1s backwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 1s ease-in-out 1s backwards;
  }
}

#menu-card-third-load {
  animation: fadeInUp 1s ease-in-out 1.2s backwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 1s ease-in-out 1.2s backwards;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollInCheck {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(-200deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
