// HOME PAGE ARTICLE RESTAURANT
article {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
  .restaurants-article-img {
    position: relative;
    border-radius: 15px 15px 0 0;
    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
    p {
      position: absolute;
      top: 20px;
      right: 20px;
      color: $tenth;
      background-color: $tertiary;
      border-radius: 3px;
      padding: 10px 15px;
    }
  }
  .restaurants-article-text {
    display: flex;
    justify-content: space-between!important;
    flex-direction: row;
    align-items: center;
    height: 90px;
    padding: 15px 20px;
    &--left {
      // tablet >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        flex-direction: column!important;
        row-gap: 0!important;
      }
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 992px) {
        align-items: flex-start;
      }
      h3 {
        color: black;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 5px;
      }
    }
  }
}

// RESTAURANT PAGE ARTICLE MENU
.menu-article {
  display: flex;
  background-color: white;
  margin: 20px;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  // tablet >> if screen is equal or more then
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    width: 300px;
  }
  &:hover {
    & .menu-article__text {
      flex-basis: 75%;
    }
    & .menu-article__check {
      display: block;
      flex-basis: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        animation: rollInCheck 0.9s ease-out;
      }
    }
  }
  &__text {
    padding: 15px;
    flex-basis: 100%;
    overflow: hidden;
    transition: flex-basis 1s;
    h3 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis; 
      white-space: nowrap;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 992px) {
        font-size: 17px;
        text-align: left;
        margin-bottom: 5px;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 992px) {
        font-size: 13px;
      }
      .content {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
      }
      .price {
        font-weight: bold;
      }
    }
  }        
  &__check {
    display: none;
    background-color: $tertiary;
    transition: flex-basis 1s;
    i {
      color: white;
      font-size: 36px;
    }
  }
}
