// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap');
//CSS rules to specify families
$roboto: 'roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

body {
  font-size: 16px;
  font-family: $roboto;
}