/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 20px;
}

@keyframes loading {
  0% {
    opacity: 0.95;
    z-index: 9999;
  }
  99% {
    opacity: 0.95;
  }
  100% {
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.first-load {
  animation: fadeInUp 1s ease-in-out 0.8s backwards;
}

.second-load {
  animation: fadeInUp 1s ease-in-out 1s backwards;
}

.third-load {
  animation: fadeInUp 1s ease-in-out 1.2s backwards;
}

@keyframes rollInCheck {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(-200deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
article {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
article .restaurants-article-img {
  position: relative;
  border-radius: 15px 15px 0 0;
}
article .restaurants-article-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
article .restaurants-article-img p {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 10px 15px;
}
article .restaurants-article-text {
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  align-items: center;
  height: 90px;
  padding: 15px 20px;
}
@media screen and (min-width: 768px) {
  article .restaurants-article-text--left {
    flex-direction: column !important;
    row-gap: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  article .restaurants-article-text--left {
    align-items: flex-start;
  }
}
article .restaurants-article-text--left h3 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
}

.menu-article {
  display: flex;
  background-color: white;
  margin: 20px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .menu-article {
    width: 500px;
  }
}
@media screen and (min-width: 992px) {
  .menu-article {
    width: 300px;
  }
}
.menu-article:hover .menu-article__text {
  flex-basis: 75%;
}
.menu-article:hover .menu-article__check {
  display: block;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-article:hover .menu-article__check i {
  animation: rollInCheck 0.9s ease-out;
}
.menu-article__text {
  padding: 15px;
  flex-basis: 100%;
  overflow: hidden;
  transition: flex-basis 1s;
}
.menu-article__text h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .menu-article__text h3 {
    font-size: 17px;
    text-align: left;
    margin-bottom: 5px;
  }
}
.menu-article__text div {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .menu-article__text div {
    font-size: 13px;
  }
}
.menu-article__text div .content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-article__text div .price {
  font-weight: bold;
}
.menu-article__check {
  display: none;
  background-color: #99E2D0;
  transition: flex-basis 1s;
}
.menu-article__check i {
  color: white;
  font-size: 36px;
}

.button {
  padding-bottom: 100px;
  padding-top: 15px;
}
.button a {
  border-radius: 50px;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right bottom, #FF79DA, #da6bdb, #c965db, #b760dc, #9356DC);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.44);
}
.button a:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 8px 0px black;
}

.menu-button {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    margin-top: 20px;
  }
}
.menu-button a {
  padding: 20px 60px;
}

.heart {
  position: relative;
  width: 31px;
  height: 31px;
}
.heart i {
  font-size: 30px;
  color: #353535;
}
.heart svg {
  position: absolute;
  top: -1px;
  right: 0;
  height: 31px;
  width: 31px;
  opacity: 0;
  transition: opacity 2s ease;
}
.heart svg:hover {
  opacity: 1;
}

header {
  text-align: center;
  padding: 30px 20px 10px;
}
@media screen and (min-width: 768px) {
  header {
    text-align: initial;
  }
}
header .return {
  text-decoration: none;
  color: #353535;
}
header .return i {
  position: absolute;
  left: 30px;
  top: 33px;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  header #header-img-restaurant {
    padding-left: 60px;
  }
}

form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
  column-gap: 10px;
  box-shadow: inset 0 2px 4px #bdbdbd;
  padding: 20px;
}
form i {
  font-size: 22px;
  color: #353535;
  padding-right: 10px;
}
form input {
  width: 140px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #eaeaea;
}
form ::placeholder {
  color: #353535;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
#banner h1 {
  font-size: 35px;
  font-weight: bolder;
  padding: 50px 75px 20px 75px;
}
#banner p {
  font-size: 25px;
  color: #747474;
  padding: 0 35px 50px;
}

.banner-restaurant {
  position: relative;
}
.banner-restaurant img {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .banner-restaurant img {
    height: 550px;
    width: 100%;
    object-fit: cover;
  }
}
.banner-restaurant .banner-restaurant__title {
  position: absolute;
  z-index: 2;
  bottom: -60px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .banner-restaurant .banner-restaurant__title {
    justify-content: center;
  }
}
.banner-restaurant .banner-restaurant__title h1 {
  font-size: 40px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .banner-restaurant .banner-restaurant__title h1 {
    margin-right: 30px;
  }
}

footer {
  background-color: #353535;
  padding: 30px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
@media screen and (min-width: 992px) {
  footer a {
    font-size: 16px;
  }
}
footer a i {
  font-size: 18px;
}

.footer-restaurant {
  position: relative;
  top: 60px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: loading 2s ease-in-out forwards;
}
.loader-container .loader {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: spin 2s ease-in-out forwards;
}
.loader-container .loader::before, .loader-container .loader::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}
.loader-container .loader::before {
  border-top-color: #FF79DA;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  animation: spin 2s ease-in-out;
}
.loader-container .loader::after {
  border-top-color: #9356DC;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  animation: spin 2s ease-in-out;
}

#operation {
  padding: 40px 20px;
}
#operation h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
}
@media screen and (min-width: 992px) {
  #operation h2 {
    text-align: center;
  }
}
#operation ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #operation ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
  }
}

.operation-step {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (min-width: 768px) {
  .operation-step {
    width: 410px;
  }
}
.operation-step:hover {
  background-color: #f5edff;
}
.operation-step:hover i {
  color: #9356DC;
}
.operation-step p {
  position: absolute;
  top: 30px;
  left: -10px;
  color: white;
  background-color: #9356DC;
  padding: 4px 10px;
  border-radius: 50px;
}
.operation-step i {
  color: #747474;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 40px;
}
.operation-step #step-icone-tall {
  font-size: 30px;
}
.operation-step h3 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  padding-right: 35px;
}

#restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) {
  #restaurants {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1440px) {
  #restaurants {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
#restaurants h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 25px;
}
@media screen and (min-width: 992px) {
  #restaurants h2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #restaurants div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
}
#restaurants div a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  #restaurants div a {
    flex-basis: 48%;
  }
}

main {
  background-color: #f6f6f6;
}
main #menu {
  position: relative;
  top: 60px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  main #menu .menu-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  main #menu .menu-cart {
    flex-direction: row;
    align-items: flex-start;
  }
}
main #menu .menu-cart .menu-category {
  margin-bottom: 50px;
}
main #menu .menu-cart .menu-category h2 {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 992px) {
  main #menu .menu-cart .menu-category h2 {
    margin-left: 0;
    text-align: center;
  }
}
main #menu .menu-cart .menu-category h2::after {
  content: "";
  display: block;
  border: 2px solid #99E2D0;
  width: 60px;
  margin-top: 5px;
}
@media screen and (min-width: 992px) {
  main #menu .menu-cart .menu-category h2::after {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
