/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "roboto", sans-serif;
}

article {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
article .article-img {
  position: relative;
  border-radius: 15px 15px 0 0;
}
article .article-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
article .article-img p {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 10px 15px;
}
article .article-text {
  position: relative;
  height: 90px;
  padding: 15px 20px;
}
article .article-text i {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 30px;
  color: #353535;
}
article .article-text #article-text-left {
  position: absolute;
  left: 20px;
}
@media screen and (min-width: 768px) {
  article .article-text #article-text-left {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}
article .article-text #article-text-left h3 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
}

.button {
  padding-bottom: 100px;
  padding-top: 15px;
}
.button a {
  border-radius: 50px;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right bottom, #FF79DA, #da6bdb, #c965db, #b760dc, #9356DC);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.44);
}

.return {
  text-decoration: none;
  color: #353535;
}
.return i {
  position: absolute;
  left: 30px;
  top: 33px;
  font-size: 25px;
}

.button-order {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .button-order {
    margin-top: 20px;
  }
}
.button-order a {
  padding: 20px 60px;
}

header {
  text-align: center;
  padding: 30px 20px 10px;
}
@media screen and (min-width: 768px) {
  header {
    text-align: initial;
  }
}

form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
  column-gap: 10px;
  box-shadow: inset 0 2px 4px #bdbdbd;
  padding: 20px;
}
form i {
  font-size: 22px;
  color: #353535;
  padding-right: 10px;
}
form input {
  width: 140px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #eaeaea;
}
form ::placeholder {
  color: #353535;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
#banner h1 {
  font-size: 35px;
  font-weight: bolder;
  padding: 50px 75px 20px 75px;
}
#banner p {
  font-size: 25px;
  color: #747474;
  padding: 0 35px 50px;
}

.banner-restaurant {
  position: relative;
}
.banner-restaurant img {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .banner-restaurant img {
    height: 550px;
    width: -webkit-fill-available;
    object-fit: cover;
  }
}
.banner-restaurant div {
  position: absolute;
  z-index: 2;
  bottom: -60px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .banner-restaurant div {
    justify-content: start;
  }
}
.banner-restaurant h1 {
  font-size: 40px;
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .banner-restaurant h1 {
    margin-right: 30px;
  }
}
.banner-restaurant i {
  font-size: 30px;
  color: #353535;
}

footer {
  background-color: #353535;
  padding: 30px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
footer a i {
  font-size: 18px;
}

.footer-restaurant {
  position: relative;
  top: 60px;
}

#functioning {
  padding: 40px 20px;
}
@media screen and (min-width: 1600px) {
  #functioning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 80px;
  }
}
#functioning h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
}
#functioning ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #functioning ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
  }
}
#functioning ul a {
  text-decoration: none;
  position: relative;
}
#functioning ul a :hover {
  background-color: #f5edff;
}
#functioning ul a :hover i {
  color: #9356DC;
}

.step {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  margin: 30px 0;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.step p {
  position: absolute;
  top: 60px;
  left: -5px;
  color: white;
  background-color: #9356DC;
  padding: 4px 10px;
  border-radius: 50px;
}
.step i {
  color: #747474;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 40px;
}
.step #step-icone-tall {
  font-size: 30px;
}
.step h3 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  padding-right: 35px;
}

#restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
#restaurants h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  #restaurants div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
}
#restaurants div a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  #restaurants div a {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1024px) {
  #restaurants div a {
    flex-basis: 30%;
  }
}

.menu {
  position: relative;
  top: 60px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 995px) {
  .menu .cart {
    display: flex;
    justify-content: center;
  }
}
.menu .cart .menu-category {
  margin-bottom: 50px;
}
@media screen and (min-width: 995px) {
  .menu .cart .menu-category {
    flex-basis: 32%;
  }
}
.menu .cart .menu-category h2 {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.menu .cart .menu-category hr {
  border: 2px solid #99E2D0;
  width: 60px;
  margin-left: 20px;
}
.menu .cart .menu-category .menu-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
}
.menu .cart .menu-category .menu-card h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.menu .cart .menu-category .menu-card .price {
  font-weight: bold;
}

#menu-entrees {
  animation: fadeInUp 2s ease-in-out 1s 1 normal forwards;
}
@media screen and (min-width: 995px) {
  #menu-entrees {
    animation: fadeInLeft 2s ease-in-out 1s 1 normal forwards;
  }
}

#menu-plats {
  animation: fadeInUp 2s ease-in-out 2s 1 normal forwards;
}
@media screen and (min-width: 995px) {
  #menu-plats {
    animation: fadeInUp 2s ease-in-out 1s 1 normal forwards;
  }
}

#menu-desserts {
  animation: fadeInUp 2s ease-in-out 3s 1 normal forwards;
}
@media screen and (min-width: 995px) {
  #menu-desserts {
    animation: fadeInRight 2s ease-in-out 1s 1 normal forwards;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
