/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "roboto", sans-serif;
}

article {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
article .article-img {
  position: relative;
  border-radius: 15px 15px 0 0;
}
article .article-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
article .article-img p {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 3px;
  padding: 10px 15px;
}
article #article-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 15px 20px;
}
article #article-text #article-text-left {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
article #article-text #article-text-left h3 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
}
article #article-text i {
  font-size: 30px;
  color: #353535;
}

.button {
  padding-bottom: 100px;
  padding-top: 15px;
}
.button a {
  border-radius: 50px;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right bottom, #FF79DA, #da6bdb, #c965db, #b760dc, #9356DC);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.44);
}

header {
  text-align: center;
  padding: 30px 20px 10px;
  /* desktop >> if screen is equal or more then*/
}
@media screen and (min-width: 768px) {
  header {
    text-align: initial;
  }
}

form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #eaeaea;
  column-gap: 10px;
  box-shadow: inset 0 2px 4px #bdbdbd;
  padding: 20px;
}
form i {
  font-size: 22px;
  color: #353535;
  padding-right: 10px;
}
form input {
  width: 140px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #eaeaea;
}
form ::placeholder {
  color: #353535;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
#banner h1 {
  font-size: 35px;
  font-weight: bolder;
  padding: 50px 75px 20px 75px;
}
#banner p {
  font-size: 25px;
  color: #747474;
  padding: 0 35px 50px;
}

footer {
  background-color: #353535;
  padding: 30px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
footer a i {
  font-size: 18px;
}

#functioning {
  padding: 40px 20px;
  /* desktop >> if screen is equal or more then*/
}
@media screen and (min-width: 1600px) {
  #functioning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 80px;
  }
}
#functioning h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
}
#functioning ul {
  display: flex;
  flex-direction: column;
  /* desktop >> if screen is equal or more then*/
}
@media screen and (min-width: 768px) {
  #functioning ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
  }
}
#functioning ul a {
  text-decoration: none;
  position: relative;
}
#functioning ul a :hover {
  background-color: #f5edff;
}
#functioning ul a :hover i {
  color: #9356DC;
}

.step {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  margin: 30px 0;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.step p {
  position: absolute;
  top: 60px;
  left: -5px;
  color: white;
  background-color: #9356DC;
  padding: 4px 10px;
  border-radius: 50px;
}
.step i {
  color: #747474;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 40px;
}
.step h3 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  padding-right: 35px;
}

#step-icone-tall {
  font-size: 30px;
}

#restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
#restaurants h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 25px;
}
#restaurants div {
  /* desktop >> if screen is equal or more then*/
}
@media screen and (min-width: 768px) {
  #restaurants div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
}
#restaurants div a {
  text-decoration: none;
  color: black;
  /* tablet >> if screen is equal or more then*/
  /* desktop >> if screen is equal or more then*/
}
@media screen and (min-width: 768px) {
  #restaurants div a {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1024px) {
  #restaurants div a {
    flex-basis: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
