// SECTION OPERATION
#operation {
  padding: 40px 20px;
  h2 {
    font-weight: 600;
    font-size: 35px;
    padding-top: 15px;
  }
  ul {
    display: flex;
    flex-direction: column;
    // tablet >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 40px;
    }
  }
}

// STEPS OF OPERATION
.step {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  position: relative;
  // tablet >> if screen is equal or more then
  @media screen and (min-width: 768px) {
    width: 395px;
  }
  &:hover {
    background-color: $ninth;
    i {
      color: $primary;
    }
  }
  p {    
    position: absolute;
    top: 30px;
    left: -10px;
    color: white;
    background-color: $primary;
    padding: 4px 10px;
    border-radius: 50px;
  }
  i {
    color: $eighth;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 40px;
  }
  #step-icone-tall {
    font-size: 30px;
  }
  h3 {
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding-right: 35px;
  }
}

// SECTION RESTAURANT
#restaurants {
  padding: 40px 20px;
  background-color: $fourth;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    max-width: 1024px;
  }
  h2 {
    font-weight: 600;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  div {
    // tablet >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
    }
    a {
      text-decoration: none; 
      color: black;
      // tablet >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        flex-basis: 48%;
      }
    }
  }
}