.white-background {
  animation: loading 3s ease-in;
}

@keyframes loading {
  0% {
    background-color: #ffffff;
    opacity: 0.8;
  }

  95% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

#functioning {
  padding: 40px 20px;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 80px;
  }
  h2 {
    font-weight: 600;
    font-size: 35px;
    padding-top: 15px;
  }
  ul {
    display: flex;
    flex-direction: column;
    // desktop >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      column-gap: 20px;
    }
    a {
      text-decoration: none;
      position: relative;
      :hover {
        background-color: #f5edff;
        i {
            color: $primary;
        }
      }
    }
  }
}

.step {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $fourth;
  margin: 30px 0;
  padding: 30px 0;
  border-radius: 25px;
  box-shadow: 0px 6px 30px 0px rgb(0 0 0 / 15%);
  overflow: hidden;
  p {    
    position: absolute;
    top: 60px;
    left: -5px;
    color: white;
    background-color: $primary;
    padding: 4px 10px;
    border-radius: 50px;
  }
  i {
    color: $eighth;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 40px;
  }
  #step-icone-tall {
    font-size: 30px;
  }
  h3 {
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding-right: 35px;
  }
}

#restaurants {
  padding: 40px 20px;
  background-color: $fourth;
  h2 {
    font-weight: 600;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  div {
    // desktop >> if screen is equal or more then
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 20px;
      row-gap: 20px;
    }
    a {
      text-decoration: none; 
      color: black;
      // tablet >> if screen is equal or more then
      @media screen and (min-width: 768px) {
        flex-basis: 48%;
      }
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 1024px) {
        flex-basis: 30%;
      }
      .full-heart {
        position: absolute;
        top: 23px;
        right: 33px;
        height: 33px;
        width: 33px;
        opacity: 0;
        transition: opacity 2s ease 0s;
        &:hover {
          opacity: 1;
        }
      } 
    }
  }
}