.menu {
  position: relative;
  top: 60px;
  background-color: $fourth;
  .cart {
    // desktop >> if screen is equal or more then
    @media screen and (min-width: 995px) {
      display: flex;
      justify-content: center;
    }
    .menu-category {
      margin-bottom: 50px;
      // desktop >> if screen is equal or more then
      @media screen and (min-width: 995px) {
        flex-basis: 32%;
      }
      h2 {
        font-size: 24px;
        margin-left: 20px;
        margin-bottom: 5px;
      }
      hr {
        border: 2px solid $tertiary;
        width: 60px;
        margin-left: 20px;
      }
    }
  }
}

// #menu-entrees {
//   animation: fadeInUp 2s ease-in-out 1s normal forwards;
//   // desktop >> if screen is equal or more then
//   @media screen and (min-width: 992px) {
//     animation: fadeInLeft 2s ease-in-out 1s normal forwards;
//   }
// }

#fadeIn1 {
  animation: fadeInUp 2s ease-in-out 0.8s normal forwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 2s ease-in-out 0.8s normal forwards;
  }
}

#fadeIn2 {
  animation: fadeInUp 2s ease-in-out 1s normal forwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 2s ease-in-out 1s normal forwards;
  }
}

#fadeIn3 {
  animation: fadeInUp 2s ease-in-out 1.2s normal forwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInLeft 2s ease-in-out 1.2s normal forwards;
  }
}

#menu-plats {
  animation: fadeInUp 2s ease-in-out 2s normal forwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInUp 2s ease-in-out 1s normal forwards;
  }  
}

#menu-desserts {
  animation: fadeInUp 2s ease-in-out 3s normal forwards;
  // desktop >> if screen is equal or more then
  @media screen and (min-width: 992px) {
    animation: fadeInRight 2s ease-in-out 1s normal forwards;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInCheck {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollInCheck {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(-200deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
